<div class="row">
    <div class="col s12">
        <div class="card-panel">

            <p id="notice"><%= notice %></p>

            <p>
            <strong>Nome:</strong>
            <%= @cliente.nome %>
            </p>

            <p>
            <strong>Email:</strong>
            <%= @cliente.email %>
            </p>

            <p>
            <strong>Telefone:</strong>
            <%= @cliente.telefone %>
            </p>

            <p>
            <strong>Foto:</strong>
            <br/>
            <image src="data:image/png;base64, <%= @cliente.foto %>" />
            </p>

            <p>
            <strong>Data de nascimento:</strong>
            <%= I18n.l @cliente.data_nascimento %>
            </p>


            <%= link_to(edit_cliente_path(@cliente), class: "btn-floating waves-effect waves-light green") do %>
                <i class="material-icons">edit</i>
            <% end %>

            <%= link_to(clientes_path, class: "btn-floating waves-effect waves-light red") do %>
                <i class="material-icons">arrow_back</i>
            <% end %>

        </div>
    </div>
</div>
