<!DOCTYPE html>
<html>
  <head>
    <title>EssentiaChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      <nav>
      <div class="nav-wrapper">
          <%= link_to "Essentia Challenge", clientes_path, class: "brand-logo center" %>
      </div>
      </nav>
    <%= yield %>

    <% if notice %>
        <%= javascript_tag "M.toast({html: '#{notice}'})" %>
    <% end %>
  </body>
</html>
